*.mat
*.aux
*.bbl
*.blg
*.gz
docs/cdc 2016/SPP2.pdf
*.asv
docs/cdc 2016 spp2/SPP2.pdf
*.log
docs/cdc 2016 spp2.zip
*.zip
*.dvi
docs/videos/SPP1 overview.mp4
docs/SPP journal/SPP_journal.pdf
code/SPP_with_intruder/RTT_sim_fig/
*.gz(busy)
code/SPP_with_intruder/computeRTTRS_*
code/SPP_with_intruder/computeCARS_*/
code/SPP_with_intruder/plotRS_evolution_*/
code/SPP_with_intruder/simulateBR_*/
code/SPP_with_intruder/simulateAR_*/
code/SPP_with_intruder/simulateNI_*/
code/SPP_with_intruder/nomTraj_*/
code/SPP_with_intruder/computeOptTraj_*/
code/SPP_with_intruder/simulateFull_intruder_method1/
docs/acc 2017 spp2/SPP2.pdf
*.bak
code/computeBRS1_*/
code/computeOptTraj_*/
code/simulateBR_*/
code/simulateFull_*/
*.png
docs/SPP IoT journal/SPP_IoTjournal.pdf
code/SPPProblem_*
docs/acc 2017 spp2/Final submission/SPP2.pdf
~$*
*.out
